body {
    margin: 0;
    padding: 0;
}

img{
    border-radius: 5%;
}

h2{
    font-size: 2em;
    margin-block-start: 0em;
    margin-block-end: 0em;
}

h3{
    margin-block-start: 0em;
    margin-block-end: 0em;
}

a{
    text-decoration: none;
    color:black;
    margin-block-start: 0em;
    margin-block-end: 0em;
}

a:hover {
    color:#5b5a5a
}

.dis_a:hover{
    color:#000000
}

p{
    margin-block-start: 0em;
    margin-block-end: 0em;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #DCDCDC;
    border-top-style:solid
}
 
li {
    float: left;
}
 
li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
 
li a:hover {
    background-color: #5b5a5a;
}

.border_div {
    margin:0;
    padding:0;  
    display:inline-block;  
    _display:inline;  
    zoom:1;  
    border:2px solid #000;
    border-radius: 5%;
}

.center {
    text-align: center;
    margin:0; padding:0;
}

.div_a {  
    text-align:center;  
    margin:0 auto;  
    padding:0;
    clear:both;  
}  

.subd_a {  
    margin:0;
    padding:0;  
    display:inline-block;  
    _display:inline;  
    zoom:1;  
}  
